<div class="row question">
  <div class="col-sm-12 col-md-4 question-count">
    <div class="row">
      <div class="col-3">
        <div class="view">
          <div>
            <%=question.score%>
          </div>
          <div style="font-size:10px">
            Голосів
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="view">
          <div>
            <%if question.right_answer_id %>
              <div style="color:green;">
                <%=question.answers.count%>
              </div>
            <%else%>
              <%=question.answers.count%>
            <%end%>
          </div>

          <div style="font-size:10px">
            Відповідей
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="view">
          <div class="">
            <%= question.view %>
          </div>
          <div style="font-size:10px">
            Переглядів
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-8 question-content">
    <div class="row">
      <div class="col-12 col-md-10 tags">
        <div class="row">
          <div class="col-12">
            <%=link_to question_path(question.id) ,class:"question-title" do %>
            <%=question.name%>
          <%end%>
        </div>
        <div class="col-12">
          <%=render "categories/tags", object:question %>
        </div>
      </div>

    </div>
    <div class="col-12 col-md-2 text-second">
      Задав
      <%=render "userparams/user", object:question %>

      <span class="times">
        <%=distance_of_time_in_words(question.created_at,Time.now) %>
        ago
      </span>
    </div>
  </div>
</div>
</div>
