<div class="row question">
  <div class="col-sm-12 col-md-4 question-count">
    <div class="row">
      <div class="col-3">
        <div class="view">
          <div class="">
            <%=question.votes.sum(:score)%>
          </div>
          <div class="" style="font-size:10px">
            Голосів
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="view">
          <div class="">
            <%if question.right_answer_id %>
              <div style="color:green;">
                <%=question.answers.count%>
              </div>
            <%else%>
              <%=question.answers.count%>
            <%end%>
          </div>

          <div class=" text" style="font-size:10px">
            Відповідей
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="view">
          <div class="">
          <%= question.view %>
          </div>
          <div class="text" style="font-size:10px">
            Переглядів
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-8 question-content">
    <div class="col">
      <%=link_to question_path(question.id) ,class:"question-title" do %><%=question.name%>
    <%end%>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <%=render "categories/tags", object:question %>
    </div>
    <div class="col-sm-5">
      <div class="creat">
        Задав
        <%=render "userparams/usericon", object:question %>

      <span style="font-size:8px">
        <%=question.created_at %>
      </span>
    </div>
  </div>
</div>
</div>
</div>
