<div class="row question">
  <div class="col-sm-4 question-count">
    <div class="row">
      <div class="col-sm-3">
          <div class="view">
            <%=question.votes.sum(:score)%>
            <div class="text" style="font-size:10px">
            Голосів
            </div>
          </div>
      </div>
      <div class="col-sm-3">
          <div class="view">
            <%if question.right_answer_id %>
              <div style="color:green;">
                <%=question.answers.count%>
              </div>
            <%else%>
              <%=question.answers.count%>
            <%end%>
              <div class="text" style="font-size:10px">
                Відповідей
              </div>
          </div>
      </div>

      <div class="col-sm-3">
        <div class="view">
            <%= question.view %>
          <div class="text" style="font-size:10px">
            Переглядів
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-8 question-content">
      <div class="col question-title">
          <%=link_to question_path(question.id) ,style:"color:grey" do %><%=question.name%><%end%>
      </div>
      <div class="row">
      <div class="col-sm-7">
        <%=render "categories/tags", object:question %>
      </div>
      <div class="col-sm-5">
        <div class="creat">
        Задав
        <%= link_to userparam_path(question.user.userparam) do %>
        <%= question.user.userparam.nickname%>
        <%=image_tag question.user.userparam.avatar.url, height:16%>
      <%end%>
        <span style="font-size:8px">
          <%=question.created_at %>
        </span>
        </div>
      </div>
    </div>
  </div>
  </div>
