<div class="row">
  <div class="col-1" align="center">
    <%=link_to positiv_vote_path(question.class.name,question.id) do%>
    <span class="fa fa-chevron-up" title="Голосувати ЗА"></span>
  <%end%>
  <h3 class="text-center text-dark" style="margin: 0px"><%=question.votes.sum(:score)%></h3>
  <%=link_to negativ_vote_path(question.class.name,question.id) do%>
  <span class="fa fa-chevron-down" title="Голосувати ПРОТИ"></span>
<%end%>
</div>
<div class="col">
<h5><%= link_to question.name, question_path(question.id) %>
  <span class="badge badge-primary" title="Кількість відповідей"><%= question.answers.count %></span>  -
  <%=image_tag question.user.userparam.avatar.url, height:22%>
  <small>
    <b class="text-secondary"><%= link_to question.user.userparam.nickname, userparam_path(question.user.userparam)%>
    </b>
  </small>

</h5>
<p>
  <%=strip_tags(question.text)[0..255]%>...
  <div>
    <p>
      <%= raw question.tags.map{ |tag| link_to tag.category.name, category_path(tag.category.name), class: 'font-weight-bold badge badge-secondary' }.join(' ') %>
    </p>
  </div>
</p>
<b class="d-inline pull-right small" style="margin-right: 20px">
  <span class="fa fa-eye" title="Перегляди"></span> <%= question.view %>
</b>
<br>

</div>
</div>
<hr>
