<%= image_tag @question.user.userparam.avatar.url %><br/>
Користувач:<%= @question.user.userparam.nickname %><br/>
Назва:
<%= @question.name %><br/>
Текст:
<%= @question.text %><br/>
<% if @question.user_id == current_user.id %>

  <p><%= link_to "Редагувати", edit_question_path(@question.id) %><br/>
    <%= link_to "Видалити", question_path(@question.id), method: :delete %><br/></p>
<% end %><br/>
<style>
  .content-list__item_comment {
      padding: 0;
  }
  .content-list__item {
    position: relative;
    box-sizing: border-box;
    padding: 10px 0 14px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.content-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.content-list_comments {
    overflow: hidden;
    margin: 20px 0 0;
    margin-left: -20px;
    padding-left: 20px;
}
ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
</style>
<%= form_for :comment, url:comments_path do |f| %>
<% @object= @question%>
<%= render 'comments/form', f:f%>
<% end %>
<% Comment.where(object: @question).each do |comment| %>
<%=render 'comments/comment', comment:comment %>
<%end%>
<hr>
Дати відповідь
<%= form_for :answer, url:answers_path do |f| %>
<%= render 'answers/form', f:f%>
<%= f.submit "Відповісти" %>
<% end %>
<hr>
<h3>Відповіді:</h3>
<hr>
<%= render @question.answers%>
