<%= image_tag @question.user.userparam.avatar.url %><br/>
Користувач:<%= @question.user.userparam.nickname %><br/>
Назва:
<%= @question.name %><br/>
Текст:
<%= @question.text %><br/>
<% if @question.user_id == current_user.id %>

  <p><%= link_to "Редагувати", edit_question_path(@question.id) %><br/>
    <%= link_to "Видалити", question_path(@question.id), method: :delete %><br/></p>
<% end %><br/>
Коментувати
<%= form_for :comment, url:comments_path do |f| %>
<%= render 'comments/form', f:f%>
<%= f.hidden_field :object_id, value: @question.id%>
<%= f.hidden_field :object_type, value: @question.class.name%>
<%= f.submit "Відправити" %>
<% end %>
<% Comment.where(object: @question).each do |comment| %>
<%=render 'comments/comment', comment:comment %>
<%end%>
<hr>
Дати відповідь
<%= form_for :answer, url:answers_path do |f| %>
<%= render 'answers/form', f:f%>
<%= f.submit "Відповісти" %>
<% end %>
<hr>
<h3>Відповіді:</h3>
<hr>
<%= render @question.answers%>
