  <div class="row">
    <div class="col col-lg-6">
      <div class="row">
        <div class="col col-lg-4">
          <div class="border border-secondary rounded-left" style="padding: 10px 0px 0px 10px">
            <%= link_to userparam_path(@question.user.userparam.id) do %>
              <p class="title"><%= image_tag @question.user.userparam.avatar.url, size: "48x48" %>
                <%= @question.user.userparam.nickname %>
              </p>
            <%end%>
            <p>Тут буде інша інформація про користувача</p>
          </div>
        </div>
        <div class="col col-lg-8">
        <p class="title"><%= @question.name %>
          <% if @question.user_id == current_user.id %>
            <%= link_to edit_question_path(@question.id) do%>
              <span class="fa fa-pencil"></span>
            <%end%>
            <%= link_to question_path(@question.id),data: {confirm: "Видалити?"}, method: :delete do %>
              <span class="fa fa-times" style="color: red;"></span>
            <%end%>
          <% else %>
            <%= link_to chose_path(@question.class.name,@question.id) do %>
              <%if Chosen.find_by(object_id: @question.id,object_type: @question.class.name, user_id: current_user.id) %>
                <span class="fa fa-star" style="color:gold"></span>
              <%else%>
                <span class="fa fa-star-o"style="color:gold"></span>
              <%end%>
            <%end%>
          <% end %>
        </p>
        <%=render "categories/tags", object:@question %>
      </div>
      <%= @question.text %><br/>
    </div>
  </div>
<div class="col col-lg-6">
<% if @question.right_answer_id %>
  <h3>Рекомендована відповідь</h3>
  <%=render Answer.find(@question.right_answer_id) %>
<%end%>
<h3>Відповіді:</h3>
<%= render @answers%>

<div style="text-align: center;">
  <button type="button" class="btn btn-outline-success btn-lg btn-block" data-toggle="collapse" data-target="#new_answer">
    <span class="fa fa-plus"></span> Відповісти
  </button>
</div>
<div id="new_answer" class="collapse">
  <%= form_for :answer, url:answers_path do |f| %>
  <%= render 'answers/form', f:f%>
<% end %>
</div>

</div>
</div>
<hr>
<% @object= @question%>
<%= render 'comments/form'%>
Коменти:
<ul>
<%=render @comments %>
</ul>
