<div class="container">
  <div class="row">
    <div class="col-1">
      <%=link_to positiv_vote_path(@question.class.name,@question.id) do%>
      <span class="fa fa-chevron-up" title="Голосувати ЗА"></span>
    <%end%>
    <h3 style="margin: 0px"><%=@question.score%></h3>
    <%=link_to negativ_vote_path(@question.class.name,@question.id) do%>
    <span class="fa fa-chevron-down" title="Голосувати ПРОТИ"></span>
  <%end%>
    </div>
    <div class="col-11">
      <div class="row">
        <div class="col title">
          <%= @question.name %>
          <% if user_signed_in? && @question.user_id == current_user.id %>
            <%= link_to edit_question_path(@question.id) do %>
              <span class="fa fa-pencil"></span>
            <%end%>
            <%= link_to question_path(@question.id),data: {confirm: "Видалити?"}, method: :delete do %>
              <span class="fa fa-trash"></span>
            <%end%>
          <% else %>
            <%= link_to chose_path(@question.class.name,@question.id) do %>
              <%if user_signed_in? && Chosen.find_by(object_id: @question.id,object_type: @question.class.name, user_id: current_user.id) %>
                <span class="fa fa-star" style="color:gold"></span>
              <%else%>
                <span class="fa fa-star-o"style="color:gold"></span>
              <%end%>
            <%end%>
          <%end%>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%=render "categories/tags", object:@question %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= @question.text.html_safe %>
        </div>
      </div>
      <div class="row" style="margin-top:15px;margin-bottom:15px">
        <div class="col-12 col-md-4">
          <div style="text-align: center;">
            <button type="button" class="btn btn-dark btn-lg btn-block" data-toggle="collapse" data-target="#new_answer">
            Відповісти
            </button>
          </div>
        </div>
        <div class="col-12 col-md-8" style="text-align:right;">
          <%= link_to userparam_path(@question.user.userparam.id) do %>
            <%= @question.user.userparam.username %>
            <%= image_tag @question.user.userparam.avatar.url, size: "36x36" %>
          <%end%>
        </div>
        <div class="col-12">
          <div id="new_answer" class="collapse">
            <%= form_for :answer, url:answers_path do |f| %>
            <%= render 'answers/form', f:f%>
          <% end %>
          </div>
        </div>
      </div>

        <div class="col-12">
          Відповідей: <%=@question.answers.count%>
        </div>

      <hr>
    </div>
    <div class="col-12">
      <% if @question.right_answer_id %>
        <h5>Рекомендована відповідь:</h5>
        <%=render Answer.find(@question.right_answer_id) %>
        <hr>
      <%end%>
      <% if @question.answers.count>1 || (@question.answers.count==1 && !@question.right_answer_id)%>
        <h5>Відповіді:</h5>
        <%= render @answers%>
      <%end%>
    </div>
  </div>
</div>
