<div class="row" style="margin:-10px -50px">
  <div class="profile" style="text-align:center;">
    <div class="crop">
    <%=image_tag @userparam.avatar.url %>
    </div>
    <div class="nick">
      <h3>
      <b><%=@userparam.nickname%></b><br />
        <%=link_to positiv_vote_path(@userparam.class.name,@userparam.id) do %>
          <span class="fa fa-plus" style="color:#28a745;"></span>
        <%end%>
        <%=@userparam.score%>
        <%=link_to negativ_vote_path(@userparam.class.name,@userparam.id) do %>
        <span class="fa fa-minus" style="color:#dc3545;"></span>
      <%end%>
    </div>
  </div>

  <div class="wrapper">
    <nav id="profil-sidebar" class="col-8 col-md-3 d-none d-md-block profil-sidebar">
          <ul class="list-unstyled components">
              <li>
                  <a href="#info">Опис</a>
              </li>

              <li>
                  <a href="#stats">Статистика</a>
              </li>
              <li>
                  <a href="#other">Інше</a>
              </li>
          </ul>
      </nav>
      <div class="content">
      <div id="info">
        <h5><%=@userparam.firstname%>
        <%=@userparam.lastname%></h5>
        <h5><%=@userparam.user.email%></h5>
        <h5><%= @userparam.age %></h5>
        <% if @userparam.education %>
          <h5><%=@userparam.education.university.name%>
            |
            <%=@userparam.education.specialty.name%>
            |</h5>
        <%end%>
        <%if user_signed_in? && current_user.id == @userparam.user.id%>
          <%=link_to "Редагувати профіль", edit_userparam_path(@userparam.id)%>
          <%=link_to "Змінити дані для входу", edit_user_registration_path%>
        <%end%>
        </div>

        <div id="stats">
          <h3>Тут має бути статистика</h3>
          </div>

        <div id="other">
          <h3>А тут все інше</h3>
        </div>

      </div>
  </div>
</div>
