<li id="comment_<%=comment.id%>" class="content-list__item content-list__item_comment js-comment ">
  <div class="bg-light forms-b">

    <b><%=image_tag comment.user.userparam.avatar.url, height:22%></span>
    <%=comment.user.userparam.nickname%>:</b>
  <%=comment.text%>

  <%if user_signed_in? && comment.user.id==current_user.id%>
    <%=link_to comment_path(comment.id),data: {confirm: "Видалити?"}, method: :delete do%>
      <span class="fa fa-times" style="color:lightgray;"></span>
    <%end%>
  <%else%>
    <%= render 'comments/form', object:comment%>
  <%end%>

</div>
<!--Юлік на це знизу увагу не звертай, то ---! Юлік, то комент комента, не слухай Саню, слухай Жеку.-->
  <ul>
    <%=render comment.comments %>
  </ul>
</li>
