
<li class="notification" <% if !notification.read_at %> style="background-color: #d9edf7;border-color: #bce8f1;color: #31708f;"<%else%> style="background-color: #FFF;" <%end%>>

  <div class="toast__icon">
     <%if notification.action = "create" %>
     <i class="fa fa-plus-circle"></i>
     <%else%>
     <i class="fa fa-info-circle"></i>
     <%end%>
   </div>


 <div class="toast__content">

    <p class="toast__type"><strong class="class="toast__type""><%=link_to notification.activeuser.userparam.username, userparam_path(notification.activeuser.id)%> <%= notification.write %> to <%= link_to notification.root.name , notification.object.url%></strong></p>
    <p class="toast__message"><%=distance_of_time_in_words(notification.created_at,Time.now)%> ago <%if !notification.read_at%> <%=link_to read_notification_path(notification.id) do%><i class="fa fa-eye" style="color:red"></i><%end%><%else%><%=link_to unread_notification_path(notification.id) do%><i class="fa fa-eye-slash" style="color:red"></i><%end%><%end%></p>
  </div>

</li><br />
