username<div class="row answer answer_<%=answer.id%>">
  <div class="col-1">
    <div class="col-12">


    <%=link_to positiv_vote_path(answer.class.name,answer.id) do%>
      <span class="fa fa-chevron-up" title="Голосувати ЗА"></span>
      <%end%>
  <h3 style="margin: 0px"><%=answer.score%></h3>
  <%=link_to negativ_vote_path(answer.class.name,answer.id) do%>
  <span class="fa fa-chevron-down" title="Голосувати ПРОТИ"></span>
    <%end%>
    </div>
    <div class="col-12">


    <%if @question.right_answer_id == answer.id %>
      <i class="fa fa-check" style="color:#28a745; font-size:30px"></i>
    <%else%>
    <%if user_signed_in? && @question.user.id==current_user.id%>
      <%=link_to right_answer_path(answer.id) do%>
      <i class="fa fa-question" style="font-size:30px" title="Правильна відповідь"></i>
    <%end%>
    <%end%>
  <%end%>
  </div>
</div>
<div class="col-11">

    <%=answer.text%>
  <div class="col-12" style="text-align:right;">
    Відповів
    <%= link_to userparam_path(answer.user.userparam.id) do %>
      <%= answer.user.userparam.username %>
      <%= image_tag answer.user.userparam.avatar.url, size: "24x24" %>
    <%end%>
  </div>
  <div class="col-12">
      <%= render 'comments/form', object:answer%>Коменти:<%=render answer.comments %>
    </div>
  </div>
</div>
