 <%if @question.right_answer_id == answer.id %>
<div id="answer_<%=answer.id%>"  class="border border-success" style="padding: 5px;">
  <%else%>
  <div id="answer_<%=answer.id%>" style="padding: 5px;">
  <%end%>
  Користувач<%=image_tag answer.user.userparam.avatar.url, height:20%>
  <b class="align-bottom"><%= link_to answer.user.userparam.nickname, userparam_path(answer.user.userparam)%></b>
  відповів:
  <br/>
  <%=answer.text%><br/>
  <%=link_to "Правильна відповідь", right_answer_path(answer.id)%>
  <hr>
  <div style="text-align: center;">
    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#answer_comment_block_<%=answer.id%>">
      <span class="glyphicon glyphicon-plus">Коменти</span>
    </button>
  </div>
  <div id="answer_comment_block_<%=answer.id%>" class="collapse">
    <%@object=answer %><%= render 'comments/form'%>Коменти:<%=render answer.comments %>
  </div>
</div>
<hr>
