<div class="row answer">
  <div class="col-1">
    <%if @question.right_answer_id == answer.id %>
      <i class="fa fa-check" style="color:#28a745; font-size:30px"></i>
    <%end%>
    <%if @question.user.id==current_user.id && @question.right_answer_id !=answer.id%>
      <%=link_to right_answer_path(answer.id) do%>
      <i class="fa fa-question" style="font-size:30px" title="Правильна відповідь"></i>
    <%end%>
  <%end%>
</div>
<div class="col-11">

    <%=answer.text%>
  <div class="col-12" style="text-align:right;">
    Відповів
    <%= link_to userparam_path(answer.user.userparam.id) do %>
      <%= answer.user.userparam.nickname %>
      <%= image_tag answer.user.userparam.avatar.url, size: "24x24" %>
    <%end%>
  </div>
  <div class="col-12">
      <%@object=answer %><%= render 'comments/form'%>Коменти:<%=render answer.comments %>
    </div>
  </div>
</div>
