 <%= render  "layouts/navbar" %>
<% if user_signed_in?%>
<% if @posts == [] %>
		<p>No posts</p>
		<%= link_to  "Create new post", new_post_path %>
	<% else %>
	<%= link_to  "Create new post", new_post_path %>
	<% @posts.each do | post | %> 
	<p>User <b><%= post.user.email %></b> write: <br/>
	<%= post.name %><br/>
	<%= post.text %><br/></p>
	<p><%= link_to "Read more", post_path(post.id) %></p> 
	<hr>
	<% end %>
	<% end %>
<% end %>