Автор:
<%= @post.user.userparam.nickname %><br>
<%= image_tag @post.user.userparam.avatar.url %><br>
Назва:
<%= @post.name %><br>
Текст:
<%= @post.text %><br>

<% if @post.user_id == current_user.id %>
  <p><%= link_to "Редагувати", edit_post_path(@post.id) %>
    <%= link_to "Видалити", post_path(@post.id), method: :delete %></p>
<% end %><br/>
<% @object= @post%>
  <%= render 'comments/form'%>
  Коменти:
  <ul class="content-list content-list_comments">
    <% Comment.where(object: @post).each do |comment| %>
      <%=render 'comments/comment', comment:comment %>
      <HR>
    <%end%>
  </ul>