<nav id="collapse-sidebar" class="col-md-2 d-none d-md-block sidebar">
  <ul class="list-unstyled components">

      <%if user_signed_in?%>
        <li style="height:50px">
        <button name="user-button" class="btn dropdown-toggle" style="color: #fff; height:50px; width:calc(100% + 15px); margin-left:-15px; background: #595959; text-align:left; padding: 0px 10px;" type="button" id="dropdownMenuButton" data-toggle="dropdown">

            <%if current_user.userparam %>
              <%=image_tag current_user.userparam.avatar.url, style:"height:30px;"%>
              <span><%= current_user.userparam.nickname %></span>
            <%else%>
              <span><%= current_user.email %></span>
            <%end%>
              <span class="caret"></span>

      </button>
    <%else%>
      <li>
      <%= link_to new_user_session_path do%>
      <i class="fa fa-sign-in"></i>
      Вхід<%end%>
  <%end%>
  <%if user_signed_in?%>
      <ul class="dropdown-menu" id="userSubmenu" style="padding-left:10px;">
        <li>
          <%= link_to notifications_path, class:"dropdown-item" do%>
          <i class="fa fa-envelope "></i>
          Сповіщення
          <% if Notification.where(user_id: current_user.id).count > 0%>
            <span class="badge badge-primary" data-toggle="tooltip" title="Кількість непрочитаних">
              <%= Notification.where(user_id: current_user.id).count%>
            </span>
          <%end%>
        <%end%>
        </li>
        <li>
          <%= link_to chosens_path, class:"dropdown-item" do%>
          <i class="fa fa-star "></i>
          Обране
        <%end%>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete, class:"dropdown-item" do%>
          <i class="fa fa-sign-out"></i>
          Вихід
        <%end%>
        </li>
      </ul>
      <%end%>
    </li>

  <%if @questions %>
  <li class="active">
    <%else%>
    <li>
  <%end%>
  <%=link_to questions_path do %>
    <i class="fa fa-question"></i>
    <span>Питання</span>
  <%end%>
</li>
<%if @posts %>
<li class="active">
  <%else%>
  <li>
<%end%>
  <%=link_to posts_path do %>
    <i class="fa fa-exclamation"></i>
    <span>Записи</span>
  <%end%>
</li>
<%if @categories %>
<li class="active">
  <%else%>
  <li>
<%end%>
  <%=link_to categories_path do %>
    <i class="fa fa-tags"></i>
    <span class="text">Теги</span>
  <%end%>
</li>
</ul>

</nav>
