<nav class="navbar nav nav-pills nav-fill fixed-bottom">
  <div class="nav-item">
  <%if user_signed_in?%>
    <%=link_to userparam_path(current_user.id) do %>
      <i class="fa fa-2x fa-user"></i>
    <%end%>
  <%else%>
    <%= link_to new_user_session_path do%>
      <i class="fa fa-2x fa-sign-in"></i>
    <%end%>
  <%end%>
  </div>
  <%=link_to questions_path do %>
  <div class="nav-item <%if @questions %>active<%end%>">
    <i class="fa fa-2x fa-question"></i>
    <%end%>
    </div>
    <div class="nav-item <%if @posts %>active  <%end%>">
  <%=link_to posts_path do %>
  <i class="fa fa-2x fa-exclamation"></i>
  <%end%>
  </div>
  <div class="nav-item <%if @categories %>active  <%end%>">
  <%=link_to categories_path do %>
  <i class="fa fa-2x fa-tags"></i>
  <%end%>
  </div>
</nav>
