<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%=link_to "Головна сторінка" , root_path, class:"nav-link"%>
      </li>
      <li class="nav-item">
        <%=link_to "Питання" , questions_path, class:"nav-link"%>
      </li>
      <li class="nav-item">
        <%=link_to "Записи" , posts_path, class:"nav-link"%>
      </li>
      <li class="nav-item">
        <%=link_to "Категорії", categories_path, class:"nav-link"%>
      </li>
    </ul>
    <%= form_for :search, url: pages_search_path, html:{ class:"form-inline my-2 my-lg-0",style:"padding:0px 15px 0px"} do |f| %>
      <%= f.text_field :text , class:"form-control mr-sm-2",prompt:"Search" %>
      <%= f.submit "Search", class:"btn btn-outline-success my-2 my-sm-0" %>
    <%end%>

    <ul class="navbar-nav">
      <%if user_signed_in?%>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            <%if current_user.userparam %>
              <span class="navbar-text">
                <%= current_user.userparam.nickname %>
              </span>
              <img class="img-circle" style="margin-top: -4px; margin-bottom: -4px;" height="30px" src="<%=current_user.userparam.avatar.url%>">
            <%else%>
              <%= current_user.email %>
            <%end%>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <%if current_user.userparam %>
              <p class="dropdown-item">
                <%= link_to userparam_path(current_user.userparam.id) do%>
                  <span class="fa fa-user" style="color: lightgray;"></span> Профіль
                <%end%>
              </p>
            <%end%>
            <p class="dropdown-item">
              <%= link_to notifications_path do%>
                <span class="fa fa-envelope " style="color: lightgray;"></span> Сповіщення
                <% if Notification.where(user_id: current_user.id).count > 0%>
                  <span class="badge badge-primary" data-toggle="tooltip" title="Кількість непрочитаних">
                    <%= Notification.where(user_id: current_user.id).count%>
                  </span>
                <%end%>
              <%end%>
            </p>
            <p class="dropdown-item">
              <%= link_to chosens_path do%>
              <span class="fa fa-star " style="color: lightgray;"></span> Обране
              <%end%>
            </p>
            <hr>
            <p class="dropdown-item">
              <span class="fa fa-sign-out" style="color: lightgray;"></span>&nbsp;<%= link_to "Вихід", destroy_user_session_path,method: :delete%></p>

          </div>
        </li>
        <li class="nav-item"></li>
      <%else%>
        <li class="nav-item">
          <%= link_to "Вхід", new_user_session_path, class:'nav-link'%>
        </li>
      <%end%>
    </ul>
  </div>
</nav>
