<div id="navbar" class="navbar">
  <ul class="nav navbar-nav">
            <li><%=link_to "Головна сторінка" , root_path, class:"nav-link", class:"navbar-brand"%> </li>
            <li>
              <div class="panel-body" style="block:inline">
                <%= form_for :search, url: pages_search_path, html:{ class:"navbar-form"} do |f| %>
                  <%= f.text_field :text , class:"form-control",placeholder:"Search" %>
                  <%=f.submit "Search", class:"btn btn-default "%>
                <%end%>
              </div>
            </li>
            <li class="nav-item">
              <% if @questions%>
                <%=link_to questions_path, class:"nav-link active" do%><span class="fa fa-question"></span> Питання<%end%>
              <%else%>
                <%=link_to questions_path, class:"nav-link" do%><span class="fa fa-question"></span> Питання<%end%>
              <%end%>
            </li>
            <li class="nav-item">
              <% if @posts %>
                <%=link_to posts_path, class:"nav-link active" do %><span class="fa fa-exclamation"></span> Записи<%end%>
              <%else%>
                <%=link_to posts_path, class:"nav-link " do %><span class="fa fa-exclamation"></span> Записи<%end%>
              <%end%>
            </li>
            <li class="nav-item">
              <% if @categories %>
                <%=link_to "", class:"nav-link active" do%>Теги<%end%>
              <%else%>
                <%=link_to categories_path, class:"nav-link" do%>Теги<%end%>
              <%end%>

            </li>
            <li class="panel panel-default" id="dropdown">

                  <%if user_signed_in?%>
                    <a data-toggle="collapse" href="#dropdown-lvl1">
                    <%if current_user.userparam %>
                      <span class="navbar-text">
                        <%= current_user.userparam.nickname %>
                      </span>
                      <img class="img-circle" style="margin-top: -4px; margin-bottom: -4px;" height="30px" src="<%=current_user.userparam.avatar.url%>">
                      <%else%>
                        <%= current_user.email %>
                      <%end%>
                    </a>
                    <%else%>
                        <%= link_to  new_user_session_path do%><spin class="fa fa-sign-in"></spin> Вхід<%end%>
                    <%end%>

              <%if user_signed_in?%>
                <div id="dropdown-lvl1" class="panel-collapse collapse">
                    <div class="panel-body">
                            <ul class="nav navbar-nav">
                            <%if current_user.userparam %>
                              <li>
                                <%= link_to userparam_path(current_user.userparam.id) do  %>
                                  <span class="fa fa-user" style="color: lightgray;"></span> Профіль
                                <%end%>
                              </li>
                            <%end%>
                            <li>
                              <%= link_to notifications_path do%>
                                <span class="fa fa-envelope " style="color: lightgray;"></span> Сповіщення
                                <% if Notification.where(user_id: current_user.id).count > 0%>
                                  <span class="badge badge-primary" data-toggle="tooltip" title="Кількість непрочитаних">
                                    <%= Notification.where(user_id: current_user.id).count%>
                                  </span>
                                <%end%>
                              <%end%>
                            </li>
                            <li>
                              <%= link_to chosens_path do%>
                              <span class="fa fa-star " style="color: lightgray;"></span> Обране
                              <%end%>
                            </li>
                            <li style="background-color: red">
                              <%= link_to destroy_user_session_path,method: :delete do%><span class="fa fa-sign-out" style="color: lightgray;"></span> Вихід <%end%>
                            </li>
                            </ul>
                    </div>
                </div>
                <%end%>


        </ul>
    </div><!-- /.navbar-collapse -->
