<nav class="navbar fixed-top navbar-expand">

  <%= link_to root_path, class:"navbar-brand" ,style:"    width: 120px;" do%>
  <img style="height: 40px" src="/assets/DoIT_H.svg" alt="DoIT">
<%end%>
<ul class="nav nav-pills">
  <li class="nav-item">
    <div class="dropdown">
      <a name="add-button" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-2x fa-plus"></i>
      </a>
      <ul class="dropdown-menu" id="userSubmenu" style="padding-left:10px;">
        <li>
          <%=link_to new_question_path, class:"dropdown-item" do %>
          <i class="fa fa-question"></i>
          <span>Запитання</span><%end%>
        </li>
        <li>
          <%=link_to new_post_path, class:"dropdown-item" do %>
            <i class="fa fa-exclamation"></i>
            <span>Публікація</span>
          <%end%>
        </li>
      </ul>
    </div>
  </li>

<!--<li class="nav-item"> <a role="button" href="#reportModal" data-toggle="modal" data-target="#reportModal" style="color:#FFF"> <i class="fa fa-2x fa-file" style="font-size: 1.5em;"></i> </a> </li>-->

  <li class="nav-item">
    <div class="search">
      <a id="collapsebtn-search" role="button" data-toggle="collapse" data-target="#collapse-search" aria-expanded="false" aria-controls="collapse-search">
        <i class="fa fa-2x fa-search"></i>
      </a>
    </div>
  </li>
</ul>

<%= form_for root_path, method: :get do |f| %>
<span id="collapse-search" class="collapse" >
<%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Пошук..." %>
</span>
<% end %>
</nav>

<!--<%= render 'reports/new'%>--!>
